<div class="detalles">
<ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repudiandae reiciendis, alias aut voluptas facilis necessitatibus, voluptatem esse quas tenetur mollitia officia nihil sit, ullam sunt ab accusamus commodi minima.</li>
    <li>Voluptate reiciendis eligendi quae commodi facilis alias provident porro mollitia blanditiis. Optio maxime modi debitis suscipit illo amet laboriosam, incidunt saepe officiis rerum aperiam aspernatur perspiciatis distinctio reiciendis, deleniti explicabo?</li>
    <li>Sapiente, repellendus quaerat. Libero voluptatibus perferendis, ducimus quis hic blanditiis autem voluptate. Itaque repudiandae aspernatur ducimus reiciendis minus facere sapiente nostrum officiis asperiores praesentium, nisi enim, autem cumque? Laborum, consequuntur?</li>
    <li>Laboriosam soluta libero, optio sit porro qui itaque laudantium possimus odio, adipisci veritatis quo nihil ut reiciendis hic alias omnis quas labore est. Ipsum doloribus at non numquam, quidem repellat?</li>
    <li>Cum eveniet nihil ipsum natus blanditiis! Ducimus, adipisci tenetur. Sit, blanditiis, nam beatae quod animi sequi voluptates temporibus consequuntur accusamus ex dolor distinctio cupiditate quia officiis inventore expedita, totam ad.</li>
</ul>

</div>

<div class="btn">
    <a routerLink="/tabla">    
    <button pButton type="submit" label="Regresar" class="ui-button-rounded ui-button-info"></button>
</a>
</div>