<div class="content">
    <div class="row">
        <div class="col-md-10">
            <a routerLink="/tabla">
                <button pButton type="submit" label="Modificar" class="ui-button-rounded ui-button-info"></button>
            </a>
        </div>

        <div class="col-md-2">
            <a routerLink="/tabla">
                <button pButton type="submit" label="Eliminar" class="ui-button-rounded ui-button-info"></button>
            </a>
        </div>
    </div>


    <div class="detalles">
        <h3>Hello {{name}}!!!!!! </h3>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
        </p>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
        </p>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ad facilis maiores illum eius fugit
                repellat possimus iure commodi. Odit ducimus ipsam placeat porro velit unde amet voluptate similique
                dolorum.</span>
            <span>Dolorum deserunt rem voluptas est, eaque exercitationem ipsum doloribus minima maxime voluptate
                necessitatibus sequi dolores reiciendis cum illo nulla illum explicabo delectus quidem vero consequatur
                iusto quae fugiat. Architecto, placeat!</span>
            <span>Facere fugiat numquam aspernatur similique suscipit, temporibus quia omnis dolore quam fugit facilis
                nihil voluptas reprehenderit earum optio ullam quaerat animi, nulla veniam minima! Dolorem corrupti
                dicta voluptatibus temporibus eum?</span>
        </p>
    </div>

    <div class="btn">
        <a routerLink="/tabla">
            <button pButton type="submit" label="Regresar" class="ui-button-rounded ui-button-info"></button>
        </a>
    </div>
</div>